body {
    font-family: Arial, sans-serif;
    background-color: #e8f5e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 700px;
}

form h2 {
    text-align: left;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form_fl {
    display: flex;
    justify-content: space-between;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.f_name,
.l_name {
    margin-bottom: 5px;
    font-weight: bold;
}

.f_name input,
.l_name input{
    padding: 10px;
    font-weight: bold;
}


.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

.radio-group {
    display: flex;
    justify-content: space-between;
}

.radio-group label {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 100px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1b5e20;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}